* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	color: white;

	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
}

.choose {
	.bg {
		background-color: #0cbaba;
		background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
		background-position: center;
		background-size: cover;
		width: 100vw;
		height: 100vh;
	}

	position: relative;
	h1 {
		font-size: 42px;
		padding: 150px 10px;
		text-align: center;
	}

	.pick {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		button {
			font-size: 64px;
			width: 150px;
			height: 150px;
			border: 3px solid white;
			box-shadow: inset 0px 0px 10px rgb(241, 236, 236);
			border-radius: 50%;
			background-color: none;
			background: none;
			color: white;
			padding: 25px;
			cursor: pointer;
			margin: auto 10px;
			transition: box-shadow 0.3s, transform 0.3s;

			&:hover {
				box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7), 1px 2px 4px 0px rgba(0, 255, 255, 0.7),
					2px 4px 8px 0px rgba(0, 255, 255, 0.7), 2px 4px 16px 0px rgba(0, 255, 255, 0.7);
				transform: scale(1.1);
				color: green;
			}
		}
	}
}
